app-accounts {
  display: flex;
  header .center {
    justify-content: flex-start;
    padding-left: 15px;
  }
  .tfa-list {
    margin-top: 5px;
    .tfa-container {
      flex-direction: row;
      align-items: center;
      display: flex;
      justify-content: left;
      border-bottom: 1px solid #7a7a7a;
      padding-bottom: 0.9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
      display: inline-block;
      cursor: pointer;

      .tfa-top {
        font-size: 2rem;
        vertical-align: middle;
        img {
          max-width: 100%;
          height: 1.75rem;
          margin-right: 0.75rem;
          width: 1.75rem;
          vertical-align: middle;
        }
      }

    }
  }
}
