.notifications {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  min-width: 100%;
  max-width: 100%;

  .notification {
    color: #fff;
    overflow: hidden;

    .message {
      padding: 10px;
      max-height: 200px;
      overflow-y: auto;
      text-align: center;
      font-weight: bold;
    }

    &.info {
      background-color: #3e8ed0;
      color: #ffffff
    }

    &.success {
      background-color: #48c78e;
    }

    &.warning {
      background-color: #ffe08a;
      color: rgba(0,0,0,.7)
    }

    &.error {
      background-color: #f14668;
    }
  }
}
