<main>
  <div class="tfa-container tfa-cell tfa-text">
    <img *ngIf="preferences.get('showAccountsIcons') && account?.icon" src="{{account?.icon_src}}" alt="{{account?.service}}"/>
    <div class="tfa-top">
      <span class="tfa-service">{{account?.service}}</span>
    </div>
    <div class="tfa-bottom has-grey-text">
      <span class="tfa-account">{{account?.account}}</span>
    </div>
    <div class="tfa-password" *ngIf="formatted_password!==''" (click)="copyOTP(true)" (keyup.enter)="copyOTP(true)">{{formatted_password}}</div>
    <div class="tfa-loading" *ngIf="formatted_password==''">
      <fa-icon [icon]="faSpinner" animation="spin"></fa-icon>
    </div>
    <ul class="tfa-dots" [hidden]="!isTimeBased(otp_type)">
      <li class="dot" *ngFor="let i of [].constructor(10)"></li>
    </ul>
    <ul class="tfa-counter" [hidden]="!isHMacBased(otp_type)">
      <li>counter: {{ counter }}</li>
    </ul>
    <div class="tfa-close">
      <button class="button is-rounded is-dark" routerLink="/accounts">
        Close
      </button>
    </div>
  </div>
</main>
