<header>
  <div class="left"></div>
  <div class="center is-title">
    Verify Identity
  </div>
  <div class="right">
    <button type="button" (click)="unlock()">
      <fa-icon [icon]="faUnlock"></fa-icon>
      unlock
    </button>
  </div>
</header>
<main>
  <div class="container field">
    <label class="has-grey-text">Password</label>
    <input autofocus type="password" class="input" placeholder="" [(ngModel)]="this.enc_key" (keyup.enter)="unlock()"/>
  </div>
  <span class="">Your 2fa is locked. Verify your identity to continue.</span>
</main>
