<header>
  <div class="left">
    <button *ngIf="disable_back !== true" type="button" routerLink="/accounts">
      <fa-icon [icon]="faArrowLeftLong"></fa-icon>
      back
    </button>
  </div>
  <div class="center is-title">
    Settings
  </div>
  <div class="right"></div>
</header>
<main>
  <div class="theme-container field">
    <label class="has-grey-text">Theme</label>
    <div class="buttons">
      <button *ngFor="let theme of themes" (click)="setTheme(theme.value)" type="button" class="button is-dark" [ngClass]="{'is-link': current_theme === theme.value}">
        <fa-icon [icon]="theme.icon"></fa-icon> {{theme.text}}
      </button>
    </div>
  </div>
  <div class="container field">
    <label class="has-grey-text">Host Url</label>
    <input type="text" class="input" placeholder="Enter your host url" id="host_url" [(ngModel)]="this.host_url"/>
  </div>
  <div class="container field">
    <label class="has-grey-text">Personal Access Token</label>
    <textarea class="textarea" [(ngModel)]="this.new_pat" [placeholder]="(have_pat ? 'Existing Personal Access Token:\n' + starred_pat : 'Enter your Personal Access Token')"></textarea>
  </div>
  <div class="field">
    <button class="button is-link" (click)="saveSettings()">Save</button>
  </div>
</main>
