app-settings {
  header .center {
    justify-content: flex-end;
    padding-right: 15px;
  }
  main {
    padding: 5px;
    .container {
      padding: 5px;
      background: #dbdbdb;
      text-decoration: none;
      border-radius: 6px;
      textarea {
        min-height: 220px;
        resize: vertical;
      }
    }
    .theme-container {
      width: 100%;
      .buttons {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        button {
          &:not(:last-of-type) {
            margin-right: 5px;
          }
          fa-icon {
            margin-right: 5px;
          }
        }
      }
    }
    label {
      font-size: 12px;
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

body[data-theme=dark] app-settings main .container {
  background-color: #363636;
  border-color: #4a4a4a;
  color: #fff;
}
