<header>
  <div class="left">
    <button type="button" routerLink="/accounts">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
      back
    </button>
  </div>
  <div class="center is-title">
    Settings
  </div>
  <div class="right"></div>
</header>
<main>
  <div class="settings-button-holder">
    <button routerLink="/settings/account" class="settings-button">
      <span class="contents">Account</span>
      <span class="icon"><fa-icon class="icon" [icon]="faChevronRight"></fa-icon></span>
    </button>
    <button routerLink="/settings/appearance" class="settings-button">
      <span class="contents">Appearance</span>
      <span class="icon"><fa-icon class="icon" [icon]="faChevronRight"></fa-icon></span>
    </button>
    <button routerLink="/settings/about" class="settings-button">
      <span class="contents">About</span>
      <span class="icon"><fa-icon class="icon" [icon]="faChevronRight"></fa-icon></span>
    </button>
  </div>
</main>
