<header>
  <div class="left">
    <button *ngIf="disable_back !== true" type="button" routerLink="/accounts">
      <fa-icon [icon]="faArrowLeftLong"></fa-icon>
      back
    </button>
  </div>
  <div class="center is-title">
    Settings
  </div>
  <div class="right"></div>
</header>
<main>
  <div class="theme-container field">
    <label class="has-grey-text">Theme</label>
    <div class="buttons">
      <button *ngFor="let theme of themes" (click)="setTheme(theme.value)" type="button" class="button is-dark" [ngClass]="{'is-link': current_theme === theme.value}">
        <fa-icon [icon]="theme.icon"></fa-icon> {{theme.text}}
      </button>
    </div>
  </div>
  <div class="container field">
    <label class="has-grey-text">Host Url</label>
    <input type="text" class="input" placeholder="2FAuth host url" id="host_url" [(ngModel)]="this.host_url"/>
  </div>
  <div class="container field">
    <label class="has-grey-text">Client ID</label>
    <input type="text" class="input" placeholder="2FAuth client ID" [(ngModel)]="this.client_id"/>
  </div>
  <div class="container field">
    <label class="has-grey-text">Client Secret</label>
    <input type="text" class="input" placeholder="2FAuth client secret" [(ngModel)]="this.client_secret"/>
  </div>
  <div class="container field">
    <label class="has-grey-text">Username</label>
    <input type="text" class="input" placeholder="2FAuth username" [(ngModel)]="this.username"/>
  </div>
  <div class="container field">
    <label class="has-grey-text">Password</label>
    <input type="text" class="input" placeholder="2FAuth password" [(ngModel)]="this.password"/>
  </div>
  <div class="container field select">
    <label class="has-grey-text">2FAuth timeout</label>
    <select [(ngModel)]="this.lock_timer">
      <option value="0">Immediately</option>
      <option value="1">1 minute</option>
      <option value="5">5 minutes</option>
      <option value="15">15 minutes</option>
      <option value="30">30 minutes</option>
      <option value="60">1 hour</option>
      <option value="240">4 hours</option>
      <option value="null">Never</option>
    </select>
  </div>
  <div class="field">
    <button class="button is-link" (click)="saveSettings()">Save</button>
    <button class="button is-link" style="margin-left: 10px;" (click)="clearStorage()">Reset</button>
  </div>
</main>
