<header>
  <div class="left">
    <button type="button" routerLink="/settings">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
      back
    </button>
  </div>
  <div class="center is-title">
    About
  </div>
  <div class="right"></div>
</header>
<main>
  <div id="about-container">
    <img src="assets/icons/icon128.png" width="128" alt="2FAuth"/>
    <h1>2FAuth Extension</h1>
    <div id="about-details">
      <p>© josh-gaby. 2023-{{current_year}}</p>
      <p>Version: {{app_version}}</p>
      <p>Project: <a href="https://github.com/josh-gaby/2fauth-browser-extension" target="_blank">josh-gaby/2fauth-browser-extension</a></p>
      <p id="server-details">Server: 2FAuth © Bubka. 2021-{{current_year}}</p>
      <p *ngIf="server_version !== ''">Version: {{server_version}}</p>
      <p>Project: <a href="https://github.com/Bubka/2FAuth" target="_blank">Bubka/2FAuth</a></p>
    </div>
  </div>
</main>
