* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  cursor: default;
}

body {
  color: #4a4a4a;
  width: 375px !important;
  height: 590px !important;
  overflow: hidden;
  border-radius: 6px;
}

app-root {
  position: absolute;
  width: 100%;
  height: 100%;
}

main {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

input, select, textarea, button {
  font-size: 14px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

input, textarea, select {
  box-shadow: inset 0 0.0625em 0.125em hsla(0,0%,4%,.05);
  max-width: 100%;
  width: 100%;
  background: #ffffff;
  padding: 7px 4px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
}

.input:active, .input:focus, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
  box-shadow: 0 0 0 0.125em rgba(72,95,199,.25);
  outline: none;
}

.header, .modal-background, .modal-slot, .options-header, body, footer {
  background-color: #f5f5f5;
}

button {
  border: none;
  background: rgba(0,0,0,0);
}

header {
  min-height: 44px;
  max-height: 44px;
  display: flex;
  border-bottom: 1px solid #000;
  width: 100%;
}

header div>button {
  border: none;
  padding: 0 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

header {
  width: 100%;
}
header .left, header .right {
  flex: 1;
  display: flex;
  min-width: min-content;
}

header .center {
  width: 100%;
  justify-content: center;
  position: relative;
  display: flex;
}

header .is-title {
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  padding-left: 0.75rem;
}

header .has-search {
  justify-content: flex-start;
  align-items: center;

  #search-wrapper {
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    margin: 0.5rem;
    border-radius: 15px;
    position: relative;

    fa-icon {
      font-size: 0.95rem;
      margin-top: 0.45rem;
      position: absolute;
      width: 30px;
      margin-left: 0.65rem;
    }

    > input#search-field {
      width: 100%;
      height: 2rem;
      box-sizing: border-box;
      border-radius: 15px;
      padding-left: 35px;
    }

    &:after {
      content: '';
      display: flex;
      align-content: center;
      justify-content: center;
      width: 30px;
      height: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      border-right: 1px solid #cbcbcb;
    }
  }
}

header .right {
  justify-content: flex-end;
  align-items: center;
}

main::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: rgba(100,100,100,.2);
  border-radius: 10px;
  margin-right: 1px;
  &:hover {
    background-color: rgba(100,100,100,.4);
  }
}

main::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}

body[data-theme=dark] {
  background-color: #242424;
  .header, .modal-background, .modal-slot, .options-header {
    background-color: #242424;
  }
  input, textarea, select {
    color: #fff;
    background-color: #4a4a4a;
  }
  .tfa-text {
    color: #ffffff
  }
  main::-webkit-scrollbar-thumb:hover {
    background-color: #313337
  }
  main::-webkit-scrollbar-thumb {
    background-color: #313337;
  }
  header {
    color: #7a7a7a !important;
    button {
      color: #7a7a7a !important;
    }
  }
  header div>button:hover, header div>button:focus {
    background-color: #313337;
    color: #fff;
  }
}

.has-grey-text {
  color: #7a7a7a !important;
}

.button, .input, .select select, .textarea {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
}

.field:not(:last-child) {
  margin-bottom: 0.75rem;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  &:hover {
    border-color: #b5b5b5;
    color: #363636;
  }
}

body[data-theme=dark] .button.is-dark {
  background-color: #363636;
  border-color: transparent;
  color: #fff;
  &:hover {
    background-color: #2f2f2f;
    border-color: transparent;
    color: #fff;
  }
}

.button.is-link {
  background-color: #485fc7!important;
  border-color: transparent;
  color: #fff!important;
}

.button.is-rounded {
  border-radius: 9999px;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

nav.tabs {
  width: 100%;
  height: 55px;
  border-top: 1px solid #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      flex: 1;
      display: inline-block;
      padding: 0;
      margin: 0;

      button {
        text-align: center;
        display: block;
        padding: 7px 0;
        text-decoration: none;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
  }
}
